[submodule "ExternalEnvironment/assimp"]
	path = ExternalEnvironment/assimp
	url = https://github.com/assimp/assimp.git
	ignore = all
[submodule "ExternalEnvironment/ktm"]
	path = ExternalEnvironment/ktm
	url = https://github.com/YGXXD/ktm.git
	ignore = all
[submodule "ExternalEnvironment/stb"]
	path = ExternalEnvironment/stb
	url = https://github.com/nothings/stb.git
	ignore = all
[submodule "ExternalEnvironment/boost/pfr"]
	path = ExternalEnvironment/boost/pfr
	url = https://github.com/boostorg/pfr.git
	ignore = all
[submodule "ExternalEnvironment/boost/preprocessor"]
	path = ExternalEnvironment/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
	ignore = all
[submodule "ExternalEnvironment/glfw"]
	path = ExternalEnvironment/glfw
	url = https://github.com/glfw/glfw.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/volk"]
	path = ExternalEnvironment/vulkan/volk
	url = https://github.com/zeux/volk.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/Vulkan-Headers"]
	path = ExternalEnvironment/vulkan/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/VulkanMemoryAllocator"]
	path = ExternalEnvironment/vulkan/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/SPIRV-Cross"]
	path = ExternalEnvironment/vulkan/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/glslang"]
	path = ExternalEnvironment/vulkan/glslang
	url = https://github.com/KhronosGroup/glslang.git
	ignore = all
