[submodule "ExternalEnvironment/ktm"]
	path = Env/ktm
	url = https://github.com/YGXXD/ktm.git
	ignore = all
[submodule "ExternalEnvironment/glfw"]
	path = Env/glfw
	url = https://github.com/glfw/glfw.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/volk"]
	path = Env/vulkan/volk
	url = https://github.com/zeux/volk.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/Vulkan-Headers"]
	path = Env/vulkan/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	ignore = all
[submodule "ExternalEnvironment/vulkan/VulkanMemoryAllocator"]
	path = Env/vulkan/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	ignore = all
[submodule "ExternalEnvironment/Helicon"]
	path = Env/Helicon
	url = https://github.com/CoronaEngine/Helicon.git
	ignore = all
[submodule "Env/stb"]
	path = Env/stb
	url = https://github.com/nothings/stb.git
	ignore = all