[submodule "ExternalEnvironment/assimp"]
	path = ExternalEnvironment/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ExternalEnvironment/ktm"]
	path = ExternalEnvironment/ktm
	url = https://github.com/YGXXD/ktm.git
[submodule "ExternalEnvironment/stb"]
	path = ExternalEnvironment/stb
	url = https://github.com/nothings/stb.git
[submodule "ExternalEnvironment/boost/pfr"]
	path = ExternalEnvironment/boost/pfr
	url = https://github.com/boostorg/pfr.git
[submodule "ExternalEnvironment/boost/preprocessor"]
	path = ExternalEnvironment/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "ExternalEnvironment/glfw"]
	path = ExternalEnvironment/glfw
	url = https://github.com/glfw/glfw.git
